<div
    class="modal modal-blur fade"
    id="bulkModal"
    tabindex="-1"
    aria-hidden="true">

    <div class="modal-dialog modal-sm modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">

                <h5
                    id="bulkModalTitle"
                    class="modal-title">

                    Bulk Action

                </h5>

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal">
                </button>

            </div>

            <div class="modal-body text-center">

                <div class="mb-3">

                    <span
                        id="bulkModalIcon"
                        class="avatar avatar-xl bg-warning-lt">

                        <i class="ti ti-list-check fs-1"></i>

                    </span>

                </div>

                <h3
                    id="bulkModalHeading">

                    Konfirmasi

                </h3>

                <p
                    id="bulkModalMessage"
                    class="text-secondary mb-0">

                    Apakah Anda yakin?

                </p>

            </div>

            <div class="modal-footer">

                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    data-bs-dismiss="modal">

                    Batal

                </button>

                <button
                    id="confirmBulkBtn"
                    type="button"
                    class="btn btn-primary">

                    Jalankan

                </button>

            </div>

        </div>

    </div>

</div>