<!-- ===================================================== -->
<!-- CHANNELS TABLE -->
<!-- ===================================================== -->

<table
    id="channels-table"
    class="table table-hover table-vcenter card-table table-nowrap">

    <thead>

        <tr>

            <th class="w-1">

                <input
                    type="checkbox"
                    id="select-all"
                    class="form-check-input m-0 align-middle"
                    onchange="toggleAllCheckboxes()">

            </th>

            <th>ID</th>

            <th>Name</th>

            <th>Email</th>

            <th>Status</th>

            <th class="text-center">Artists</th>

            <th class="text-center">Songs</th>

            <th class="text-center">Uploaded</th>

            <th>Created At</th>

            <th class="w-1">Actions</th>

        </tr>

    </thead>

    <tbody id="table-body">

        <!-- Data akan diisi oleh DataTable -->

    </tbody>

</table>