<!-- ============================================ -->
<!-- FOOTER - Main Footer Tabler                   -->
<!-- ============================================ -->
<footer class="footer py-3 bg-white border-top">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <span class="text-muted">
                    Copyright &copy; Drama Cina Short TV {{ now.year }}
                </span>
            </div>
        </div>
    </div>
</footer>