<div class="card mb-3">
    <div class="card-body">
        <div class="row g-2 align-items-center">
            <div class="col">
                <div class="input-icon">
                    <span class="input-icon-addon">
                        <i class="ti ti-search"></i>
                    </span>
                    <input
                        type="text"
                        id="searchInput"
                        class="form-control"
                        placeholder="Search channel by name, ID, or YouTube URL..."
                        autofocus
                    >
                    <span class="input-icon-addon" id="clearSearch" style="cursor:pointer;">
                        <i class="ti ti-x"></i>
                    </span>
                </div>
            </div>

            <div class="col-auto">
                <div class="btn-list">
                    <button
                        type="button"
                        class="btn btn-outline-secondary"
                        id="refreshTable"
                        data-bs-toggle="tooltip"
                        title="Refresh table"
                    >
                        <i class="ti ti-refresh me-1"></i>
                        Refresh
                    </button>

                    <button
                        type="button"
                        class="btn btn-outline-info"
                        id="toggleFilters"
                        data-bs-toggle="tooltip"
                        title="Toggle filters"
                    >
                        <i class="ti ti-filter me-1"></i>
                        Filters
                    </button>

                    <a
                        href="/channels/new"
                        class="btn btn-primary"
                    >
                        <i class="ti ti-plus me-1"></i>
                        Add Channel
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>