<!-- ===================================================== -->
<!-- ARTISTS TABLE -->
<!-- ===================================================== -->

<table id="artists-table" class="table table-hover table-vcenter card-table">
    <thead>
        <tr>
            <th class="w-1">
                <input type="checkbox" id="select-all" class="form-check-input m-0 align-middle" onchange="toggleAllCheckboxes()">
            </th>
            <th>Artist</th>
            <th>Channel</th>
            <th class="text-center" width="120">Status</th>
            <th class="text-center" width="120">Songs</th>
            <th class="text-center" width="170">Progress</th>
            <th width="140">Last Song</th>
            <th width="140">Updated</th>
            <th class="text-end" width="70">Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>