{% extends "base.html" %}
{% block content %}
<h1 class="h3 mb-3 text-gray-800">Edit File</h1>

<form method="post" action="/files/edit/{{ file.id }}?q={{ request.query_params.get('q', '') }}">
    <input type="hidden" name="q" value="{{ request.query_params.get('q', '') }}">

    <div class="form-group">
        <label>File Name</label>
        <input type="text" name="file_name" value="{{ file.file_name }}" class="form-control" required>
        <small class="text-muted">
            Perubahan nama file akan berlaku ke semua show yang menggunakan file ini
        </small>
    </div>

    <div class="form-group">
        <label>Main Title</label>
        <input type="text" name="main_title" value="{{ file.main_title }}" class="form-control">
    </div>

    <div class="form-group">
        <label>Akses File</label>
        <div class="mt-1">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="is_paid" id="is_paid_0" value="0" {% if not
                    file.is_paid %}checked{% endif %}>
                <label class="form-check-label" for="is_paid_0">
                    Free
                </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="is_paid" id="is_paid_1" value="1" {% if file.is_paid
                    %}checked{% endif %}>
                <label class="form-check-label" for="is_paid_1">
                    Paid
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Free Hash</label>
        <input type="text" value="{{ file.free_hash }}" class="form-control" readonly>
    </div>

    <div class="form-group">
        <label>Paid Hash</label>
        <input type="text" value="{{ file.paid_hash }}" class="form-control" readonly>
    </div>

    <div class="form-group">
        <label>Show ID</label>
        <input type="number" name="show_id" value="{{ file.show_id }}" class="form-control">
    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-primary">
            Simpan Perubahan
        </button>
        <a href="/files?q={{ request.query_params.get('q', '') }}" class="btn btn-danger ml-2">
            Batal
        </a>
    </div>
</form>
{% endblock %}