{% extends "base.html" %}

{% block title %}
{{ channel.name }} - Channel Detail
{% endblock %}

{% block content %}

{% include "music/channels/detail/_header.html" %}

<div class="row">

    <div class="col-md-4">

        {% include "music/channels/detail/_info.html" %}

    </div>

    <div class="col-md-8">

        {% include "music/channels/detail/_statistics.html" %}

        {% include "music/channels/detail/_top_artists.html" %}

    </div>

</div>

{% include "music/channels/partials/_modal_delete.html" %}

{% endblock %}

{% block scripts %}

{{ super() }}

{% include "music/channels/js/utils.html" %}
{% include "music/channels/js/delete.html" %}
{% include "music/channels/js/detail.html" %}

{% endblock %}