    <!-- ===================================================== -->
    <!-- Songs API -->
    <!-- ===================================================== -->

    <script src="{{ url_for('static', path='js/songs/api.js') }}"></script>

    <!-- ===================================================== -->
    <!-- Songs -->
    <!-- ===================================================== -->

    <script src="{{ url_for('static', path='js/songs/songs.js') }}"></script>

    <!-- ===================================================== -->
    <!-- Filters -->
    <!-- ===================================================== -->

    <script src="{{ url_for('static', path='js/songs/filters.js') }}"></script>

    <!-- ===================================================== -->
    <!-- DataTable -->
    <!-- ===================================================== -->

    <script src="{{ url_for('static', path='js/songs/table.js') }}"></script>

    <!-- ===================================================== -->
    <!-- Statistics -->
    <!-- ===================================================== -->

    <script src="{{ url_for('static', path='js/songs/statistics.js') }}"></script>

    <!-- ===================================================== -->
    <!-- Bulk -->
    <!-- ===================================================== -->

    <script src="{{ url_for('static', path='js/songs/bulk.js') }}"></script>

    <!-- ===================================================== -->
    <!-- Import -->
    <!-- ===================================================== -->

    <script src="{{ url_for('static', path='js/songs/import.js') }}"></script>

    <!-- ===================================================== -->
    <!-- Export -->
    <!-- ===================================================== -->

    <script src="{{ url_for('static', path='js/songs/export.js') }}"></script>

    <!-- ===================================================== -->
    <!-- Usage -->
    <!-- ===================================================== -->

    <script src="{{ url_for('static', path='js/songs/usage.js') }}"></script>

    <!-- ===================================================== -->
    <!-- Create -->
    <!-- ===================================================== -->

    <script src="{{ url_for('static', path='js/songs/create.js') }}"></script>

    <!-- ===================================================== -->
    <!-- Update -->
    <!-- ===================================================== -->

    <script src="{{ url_for('static', path='js/songs/update.js') }}"></script>

    <!-- ===================================================== -->
    <!-- Delete -->
    <!-- ===================================================== -->

    <script src="{{ url_for('static', path='js/songs/delete.js') }}"></script>

    <!-- ===================================================== -->
    <!-- Toast -->
    <!-- ===================================================== -->

    <script src="{{ url_for('static', path='js/songs/toast.js') }}"></script>

    <!-- ===================================================== -->
    <!-- Release Date -->
    <!-- ===================================================== -->

    <script src="{{ url_for('static', path='js/songs/release.js') }}"></script>
